@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-nav{
        background-color: #2122239c;
    }
    .bg-4{
        background-color: #272829;
    }
    .bg-3{
        background-color: #61677A;
    }
    .bg-2{
        background-color: #D8D9DA;
    }
    .bg-1{
        background-color: #FFF6E0;
    }
    .ffffff{
        background-color: #ffffff;
    }
    .bg-linear{
        background-color: #4B79A1;
    }
    .bg-linear2{
        background-color: #283E51;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #272829f0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
    height: 100vh;
    overflow-y: hidden;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb{
    background-color: #D8D9DA;
    width: 10px;
    border-radius: 16px;
}

