@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-soft-gray {
        background-color: #121212;
    }
    .bg-dark-gray {
        background-color: #090909;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #090909;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
    height: 100vh;
}
